<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>APPear - Login</title>
</head>
<body>
    <main class="main">
        <div class="backgroundd"></div>
        <section class="ladoE">
            <div>
                <h1>APPear</h1>
                <img src="imagens/logo.png" alt="">
            </div>
        </section>

        <section class="ladoD">
            <div class="def">
                <img src="imagens/fundoD.png" alt="" class="deff fundo">
                <img src="imagens/Fundobranco.png" alt="" class="deff fundoB">
                <img src="imagens/olhofechado.png" alt="" class="deff olhoF">
                <img src="imagens/olhoaberto.png" alt="" class="deff olhoA">
            </div>
            <div class="desc">
                <form class="form">
                    <h2>LOGIN</h2>
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha">
                    <p><a href="#">Esqueceu a senha?</a></p>
                </form>
                <div class="btn-cad">
                    <input type="button" value="ENTRAR" class="butn">
                    <p>Ainda não tem conta?</p>
                    <p><a href="#">CADASTRE-SE</a></p>
                </div>
            </div>
            <div class="admin">
                <p><a href="#">ENTRAR COMO ADMINISTRADOR</a></p>
            </div>
        </section>
    </main>
</body>
</html>